body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #007bff; /* Blue background color */
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
}

.letter {
    display: inline-block;
    transform: rotate(-10deg);
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
}

.letter:hover {
    transform: rotate(10deg);
    color: #ff5733; 
}

.f {
    color: #f6faf7; 
}

